@use "~bootstrap/scss/bootstrap" as *;

ul {
    list-style-type: none;
}

.card {
    background-color: #808080;

    .surname {
        color: black;
    }

    .value {
        color: #EEBA01;
    }

    img {
        width: 300px;
        height: 200px;
    }

}